package components

// Base for getting the basic html structure and scripts set up

templ Base() {
	<html>
		<head>
			<title>Cool Todo List</title>
			<!-- adding this script installs htmx -->
			<script src="https://unpkg.com/htmx.org@1.9.8"></script>
			<!-- adds css styling -->
			<link rel="stylesheet" href="/main.css"/>
		</head>
		<body class="bg-slate-700 text-slate-100">
			<div class="w-full h-full flex items-center justify-center">
				{ children... }
			</div>
		</body>
	</html>
}
